{% load static %}
<!DOCTYPE html>
<head>
{% block title %}{% endblock title %} 

<link href="{% static '/assets/css/style.css '%}" rel="stylesheet">
</head>

{% block content %}
<div class="payment">
<h1>"PAY HERE"</h1>
</div>
{% endblock content %} 

{% block body %}

<div id="qrcode" class="container section-title">
    <div class="mt-2 h-100 d-inline-block ">
        <img src="{% static 'images/QRSCANNER.jpeg' %}" alt="QR Code" class="img-fluid">
    </div>
</div>

<div class = "section-title">
  <nav aria-label="breadcrumb">
         <ul class="breadcrumb mt-3">
           <li class="breadcrumb-item active" aria-current="page"><b><h3>Your Subtotal is<i>"Rs. <span id="totalprice"></span>"</h3></b> <br><span id="amount"></span></i></li></li>
         </ul>
    </nav>
</div>

<div class="container">
    <a href="/succes/" class="btn btn-success btn-payment-done">Payment Done</a> <br>
    <br>
    <small id="emailHelp" class="form-text text-muted">After Payment click Here...!!</small>
</div>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.js"
 integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
 crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script>
if (localStorage.getItem('cart') == null) {
   var cart = {};
} else {
   cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);

var sum = 0;
var totalPrice = 0;
if ($.isEmptyObject(cart)) {
   //if object is empty
   mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
   $('#items').append(mystr);
} else {
   for (item in cart) {
       let name = cart[item][1];
       let qty = cart[item][0];
       let itemPrice = cart[item][2];
       sum = sum + qty;
       totalPrice = totalPrice + qty* itemPrice;
       
       mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                   ${name}
                   <div><b> Price : ${itemPrice}</b></div>
                   <span class="badge badge-primary badge-pill">${qty}</span>
               </li>`
       $('#items').append(mystr);
   }
   document.getElementById('totalprice').innerHTML=totalPrice

}
document.getElementById('totalprice').innerHTML = totalPrice;

$('#itemsJson').val(JSON.stringify(cart));



if (thank) {
  alert('Thanks for ordering with us. Your order is {{id}}. Use it to track your order using our order tracker');
  localStorage.clear();
  document.location = "/";
}

var test = `${totalPrice}`;
document.getElementById("amt").value = test;
</script>

{% endblock body %}

</html>




