{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<head>
{% block title %}{% endblock title %} 
<link href="{% static '/assets/css/style.css '%}" rel="stylesheet">
</head>
{% block body %}
<div class="container">
    <h1 class="mt-5"><u>ORDER PLACED</u></h1>
    <h2 class="mt-5">Thank You For Shopping from WebShoppers</h2>   
</div>

<div id="order" class="container section-title">
    <div class=" mt-2 h-100 d-inline-block ">
        <img src="{% static 'images/order-confirmed-concept-illustration_114360-6599.jpg' %}" alt="order" class="img-fluid">
    </div>
</div>
{% endblock body %}



//Webshoppers is an frontend e-commerce website that is an online retailer of digital electronic items, offering a vast collection of products.